/* -----------------------------

   Responsive Starter Kit Sass
   Print Style Sheet

-------------------------------- */

@media print {
    
    body {
        background: #fff;
        color: #000;
        font-size: 13pt;
        line-height: 1.3;
        font-family: Helvetica, Arial, sans-serif;
    }

    .site-header {
        margin: 0 0 15px;
        padding: 0 0 10px;
        border-bottom: 1px solid #ccc;
    }

    .site-header .wrapper {
        height: auto;
    }

    .site-header .site-branding {
        margin: 0;
        padding: 0;
        height: auto;
        float: none;
    }

    .site-header .site-branding a {
        text-indent: 0;
        color: #000;
        text-decoration: none;
        font-size: 24pt;
        font-weight: bold;
        margin: 0;
        padding: 0;
        text-align: left;
        width: auto;
        height: auto;
        display: block;
        border: 1px solid #000;
    }

    h1, h2, h3, h4, h5 {
        color: #000;
        text-align: left;
        margin: 0 0 0.5em;
    }

    h1 em, h2 em, h3 em, h4 em, h5 em,
    h1 strong, h2 strong, h3 strong, h4 strong, h5 strong,
    h1 i, h2 i, h3 i, h4 i, h5 i,
    h1 b, h2 b, h3 b, h4 b, h5 b {
        color: #000;
        text-align: left;
    }

    h1 {
        font-size: 21pt;
    }

    h2 {
        font-size: 18pt;
    }

    h3 {
        font-size: 15pt;
    }

    h4, h5 {
        font-size: 13pt;
    }

    h2, h3, h4, h5 {
        page-break-after: avoid;
        margin-top: 0.75em;
    }

    img {
        max-width: 100% !important;
    }

    ul, img {
        page-break-inside: avoid;
    }

    ul li {
        margin-bottom: 5px;
    }

    blockquote, cite, p, main p, em, strong, a, ul, ol, li, dl, dt, dd {
        color: #000 !important; /* paint it black */
    }

    table {
        border-top: 1px solid #ccc !important;
        border-left: 1px solid #ccc !important;
    }

    table th, table td {
        color: #000 !important;
        border-right: 1px solid #ccc !important;
        border-bottom: 1px solid #ccc !important;
        padding: 5px 10px !important;
    }

    .btn {
        display: block;
        background: none;
        color: #000;
        width: auto;
        height: auto;
        text-align: left;
        margin: 0;
        padding: 0;
        font-size: 15pt;
        border: none;
        text-decoration: underline;
    }

    .site-footer {
        margin: 15px 0 0;
        padding: 10px 0 0;
        border-top: 1px solid #ccc;
    }

    /* Hide Some Stuff */
    
    nav, .flexible-video, .sidebar, .back-to-top {
        display: none;
    }
}