/* -----------------------------

   Responsive Starter Kit Sass
   Reset Style Sheet

   Note: Feel free to
   use a normalize.css file
   instead of this reset.

-------------------------------- */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

ul {
    list-style: none;
}

mark {
    background-color: transparent;
}

/*
   Box-sizing: Border-box
   http://www.paulirish.com/2012/box-sizing-border-box-ftw/
   http://css-tricks.com/box-sizing/
*/

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
