/* -----------------------------

   Responsive Starter Kit Sass
   Theme Style Sheet

   Table of Contents: 
   -----------------------------
   + Header
   + Navigation
   + Page Content
   + Main
   + Sidebar
   + Footer

-------------------------------- */
/* -----------------------------

   Responsive Starter Kit Sass
   Variables Style Sheet

-------------------------------- */
/* General 
-------------------------------- */
/* 16px */
/* Common Breakpoints
-------------------------------- */
/* Extra Small: 320px / 16px = 20em */
/* Small: 480px / 16px = 30em */
/* Medium: 700px / 16px = 43.75em */
/* Large: 900px / 16px = 56.25em */
/* Extra Large: 1100px / 16px = 68.75em */
/* Web Fonts
-------------------------------- */
body {
  font-family: "Gentium Book Basic", serif; }

h1, h2, h3, h4, h5, h6,
nav, .btn, .btn-cancel, .btn-disabled,
label, legend, input, select, textarea, .info-error,
.resp-tabs-list li {
  font-family: "Open Sans", sans-serif; }

.gist {
  margin: 0 0 1.5em; }

/* Header
-------------------------------- */
.site-header {
  background: #ddd;
  color: #fff;
  font-size: 0.875em;
  padding: 10px 0 0;
  position: relative;
  /* Retina Version of Nav Icon */ }
  .site-header .site-branding {
    float: left;
    /* Retina Version of Logo */ }
    .site-header .site-branding a {
      background: url("../img/logo-1x.gif") no-repeat 0 0;
      width: 150px;
      height: 50px;
      display: block;
      margin: 0 auto 10px;
      text-indent: -999em;
      overflow: hidden; }
    @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
      .site-header .site-branding a {
        background: url("../img/logo-2x.gif") no-repeat 0 0;
        background-size: 150px 50px; } }
  .site-header #nav-primary-link {
    float: right;
    margin-top: 18px;
    background: url("../img/ico/nav-icons-1x.png") no-repeat -4px -6px;
    width: 22px;
    height: 16px;
    text-indent: -999em;
    overflow: hidden; }
    @media all and (min-width: 43.75em) {
      .site-header #nav-primary-link {
        display: none; } }
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .site-header #nav-primary-link {
      background: url("../img/ico/nav-icons-2x.png") no-repeat -4px -6px;
      background-size: 30px 98px; } }

/* Navigation
-------------------------------- */
/* Primary Navigation */
.nav-primary {
  clear: both;
  background-color: #ddd;
  font-weight: 700;
  text-align: center;
  margin: 0 -10px;
  /* Retina Version of Nav List Icons */ }
  .nav-primary ul {
    border-bottom: 1px solid #aaa; }
  .nav-primary li {
    margin-left: 0;
    border: 0;
    background: url("../img/ico/nav-icons-1x.png") no-repeat right -31px;
    display: block;
    border-top: 1px solid #aaa;
    text-align: left; }
    .nav-primary li.current a {
      background: #777777 url("../img/ico/nav-icons-1x.png") no-repeat right -61px;
      color: #fff; }
    @media all and (min-width: 43.75em) {
      .nav-primary li {
        background-image: none; }
        .nav-primary li.current a {
          background-image: none;
          background-color: #777;
          color: #fff; } }
  @media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .nav-primary li {
      background: url("../img/ico/nav-icons-2x.png") no-repeat right -30px;
      background-size: 30px 98px; }
      .nav-primary li.current a {
        background: #777777 url("../img/ico/nav-icons-2x.png") no-repeat right -61px;
        background-size: 30px 98px; } }
  .nav-primary a {
    color: #333;
    padding: 0.75em;
    font-size: 0.9em;
    display: block;
    text-decoration: none;
    border: 0; }
    .nav-primary a:hover, .nav-primary a:focus {
      color: #000; }
  @media all and (min-width: 43.75em) {
    .nav-primary {
      background-color: transparent;
      margin: 10px 0;
      clear: none;
      float: right; }
      .nav-primary ul {
        margin: 0;
        border-bottom: 0; }
      .nav-primary li {
        border-top: 0;
        display: inline-block; }
      .nav-primary a {
        padding: 7px; }
        .nav-primary a:hover, .nav-primary a:focus {
          background-color: #fff;
          color: #222; } }

/* Breadcrumb Navigation */
.page-content {
  text-align: left;
  padding: 1.5em 0; }

.nav-breadcrumb {
  font-size: 0.75em;
  line-height: 1.4;
  margin: 0 0 2em; }
  .nav-breadcrumb a {
    color: gray; }
  .nav-breadcrumb b {
    font-size: 1.2em;
    margin: 0 0.3em; }

.back-to-top {
  margin: 2.5em 0 1.5em;
  display: block; }
  .back-to-top a {
    background-color: #ccc;
    color: #333333;
    font-size: 0.75em;
    padding: 10px 15px;
    text-decoration: none; }
  @media all and (min-width: 43.75em) {
    .back-to-top {
      display: none;
      /* hide on tablet and up */ } }

/* Credit box for documentation */
.credit-box {
  display: inline-block;
  margin: 0 0 1.5em;
  padding: 5px 15px 5px 5px;
  background-color: #e6e6e6;
  border: 1px solid #b3b3b3;
  border-radius: 5px; }
  .credit-box h3 {
    font-size: 1em;
    margin: 0 0 0.25em;
    padding: 0 0 0.3em;
    border-bottom: 1px solid #b3b3b3; }
  .credit-box img {
    float: left;
    margin: 0 7px 0 0; }
  .credit-box .body {
    float: right;
    margin-top: 20px; }

/* Main
-------------------------------- */
main {
  margin: 0 0 1.5em;
  font-size: 1em;
  line-height: 1.4; }
  main .article-meta {
    font-size: 0.875em;
    color: #777; }
  main ul {
    padding-left: 35px;
    list-style: disc; }
    main ul ul {
      margin-bottom: 0;
      list-style: square; }
  main ol {
    padding-left: 35px; }
  main dt {
    font-weight: 700; }
  main dd {
    margin-bottom: 0.75em;
    padding-left: 0.75em; }
  main .intro {
    font-size: 1.2em;
    line-height: 1.35; }
  main blockquote {
    border-left: 5px solid #bbb;
    font-style: italic;
    padding: 0 60px 0 30px; }
    main blockquote p {
      margin-bottom: 0.75em; }
  main .image-gallery {
    display: inline-block;
    margin: 0 0 1.5em; }
    main .image-gallery img {
      display: block;
      padding: 3px; }
      @media all and (min-width: 43.75em) {
        main .image-gallery img {
          display: inline;
          float: left;
          padding: 2px 4px; } }

/* Sidebar
-------------------------------- */
.sidebar {
  font-size: 1em;
  line-height: 1.2;
  margin-bottom: 1.5em;
  text-align: left; }
  .sidebar h3, .sidebar h4 {
    font-size: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5em;
    color: #333333; }

/* Widgets */
.widget {
  margin: 0 0 1.5em; }
  .widget p, .widget ul, .widget ol, .widget dl {
    margin-bottom: 1em; }
  .widget.panel {
    background-color: #f1f1f1;
    margin-bottom: 1.5em;
    padding: 10px 10px 5px; }
    .widget.panel h4 {
      background-color: #ccc;
      font-size: 1.1em;
      font-weight: 700;
      margin: -10px -10px 10px;
      padding: 5px 10px;
      display: block; }

/* Common
-------------------------------- */
.outline {
  border: 1px solid #999; }

.outline-pad {
  padding: 5px;
  border: 1px solid #999; }

.sidebar .outline-pad {
  padding: 3px; }

/* Buttons */
/* Colors can be added like this. */
.btn-gray {
  background: #bbb;
  color: #333; }
  .btn-gray:hover, .btn-gray:focus {
    color: #111; }

/* Disabled */
.btn-disabled {
  background-color: #eee;
  color: #888;
  padding: 11px 20px;
  cursor: not-allowed;
  -webkit-appearance: none; }
  .btn-disabled:hover, .btn-disabled:focus {
    background-color: #eee;
    color: #888; }

.btn-cancel {
  border: 1px solid #bbb;
  color: #777; }

/* Footer
-------------------------------- */
.site-footer {
  clear: both;
  color: #86888a;
  font-size: 0.8125em;
  border-top: 2px solid #ebebeb;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  text-align: center; }
  .site-footer ul {
    margin: 0 0 1em;
    text-align: center;
    display: inline-block; }
    .site-footer ul li {
      display: inline-block;
      padding: 0 5px; }
    .site-footer ul li:first-child {
      padding-left: 0; }
  .site-footer a {
    color: #5a5a5a; }
    .site-footer a:hover, .site-footer a:focus {
      color: #222; }
  @media all and (min-width: 43.75em) {
    .site-footer .site-copyright {
      float: left; }
    .site-footer .nav-utility {
      float: right; } }

/* Breakpoints (if preferred)
-------------------------------- */
/* Base Styles */
/* Insert base styles for Page or Section here. */
/* Extra Small: 320px / 16px = 20em */
@media all and (min-width: 20em) {
  /* Insert breakpoint styles here. */ }
/* Small: 480px / 16px = 30em */
@media all and (min-width: 30em) {
  /* Insert breakpoint styles here. */ }
/* Medium: 700px / 16px = $break-m */
@media all and (min-width: 43.75em) {
  /* Insert breakpoint styles here. */ }
/* Large: 900px / 16px = 56.25em */
@media all and (min-width: 56.25em) {
  /* Insert breakpoint styles here. */ }
/* Extra Large: 1100px / 16px = 68.75em */
@media all and (min-width: 68.75em) {
  /* Insert breakpoint styles here. */ }
